[global]
  
# USE THE GLOBAL ENTRIES FROM YOUR OWN DUNSTRC
# THIS IS JUST AN EXAMPLE SHOWING THE FLOW  
  
  
#######################################################################
# Rules are followed from top down last overrides.

###############################################################################
# General App Categories
###############################################################################
  
[orage]
    appname = Orage
    urgency = critical
    fullscreen = show
    timeout = 600

###############################################################################
# Always skip
###############################################################################

[radiotray-ng]
    desktop_entry = radiotray-ng
    skip_display = true  

###############################################################################
# Handing to dunst-plus-plus
###############################################################################

[beeper-todpp]
	appname = "Beeper"
    script =/path/to/dunst_plusplus/runner.sh
	skip_display = true

[outlook-todpp]
    summary = "Outlook*"
    script =/path/to/dunst_plusplus/runner.sh
	skip_display = true

[gomuks-todpp]
	appname = "gomuks"
    script =/path/to/dunst_plusplus/runner.sh
	skip_display = true	

[teams-todpp]
    desktop_entry = teams-for-linux
    script =/path/to/dunst_plusplus/runner.sh
	skip_display = true	

###############################################################################
# dunst-plus-plus results.
###############################################################################    
    
[visible-chat-high]
	appname = "visible-chat-high"
    urgency = critical
    fullscreen = show
    background = "#282A33"
    foreground = "#FF9001"
    frame_color = "#FF9001"
    timeout = 300

[visible-chat-med]
	appname = "visible-chat-med"
    urgency = normal
    timeout = 120
    fullscreen = show
    background = "#282A33"
    foreground = "#1BA221"
    frame_color = "#1BA221"

[visible-chat-low]
	appname = "visible-chat-low"
    background = "#282A33"
    frame_color = "#7643FF"
    foreground = "#7643FF"
    timeout = 20
 
